<div class="card" style="min-height: 25rem">
  <img
    [src]="product.thumbnail"
    class="card-img-top"
    [alt]="product.title"
    style="height: 17rem"
  />
  <div class="card-body">
    <h5 class="card-title fs-4">{{ product.title | shortText : 25 }}</h5>
    <p class="card-text">
      {{ product.description | shortText : 40 }}
    </p>
    <div class="d-flex justify-content-between">
      <p
        class="card-text fs-5 fw-bold m-0"
        [ngClass]="product.stock ? 'text-success' : 'text-danger'"
      >
        {{ product.stock | checkInStock }}
      </p>
      <p class="card-text fs-5 text price">
        {{ product.price | currency }}
      </p>
    </div>
    <div class="mt-4">
      <button
        class="btn btn-primary me-3 mt-2"
        (click)="showProductDetails(product.id)"
      >
        Details
      </button>
      <app-add-to-cart-button [product]="product"></app-add-to-cart-button>
    </div>
  </div>
</div>
